<div class="example-panel auth-example-panel" data-code-tabs data-code-sync="language">
  <div class="example-panel__header">
    <h3>Request Example</h3>
    <div class="code-tabs" role="tablist">
      <button type="button" class="code-tab is-active" data-code-tab="curl">curl</button>
      <button type="button" class="code-tab" data-code-tab="nodejs">NodeJs</button>
      <button type="button" class="code-tab" data-code-tab="php">PHP</button>
      <button type="button" class="code-tab" data-code-tab="java">Java</button>
      <button type="button" class="code-tab" data-code-tab="python">Python</button>
    </div>
    <button type="button" class="copy-example-btn" data-copy-example>Copy</button>
  </div>
  <div class="code-pane is-active" data-code-pane="curl"><pre><code>{{>auth-sample-curl}}</code></pre></div>
  <div class="code-pane" data-code-pane="nodejs"><pre><code>{{>auth-sample-node}}</code></pre></div>
  <div class="code-pane" data-code-pane="php"><pre><code>{{>auth-sample-php}}</code></pre></div>
  <div class="code-pane" data-code-pane="java"><pre><code>{{>auth-sample-java}}</code></pre></div>
  <div class="code-pane" data-code-pane="python"><pre><code>{{>auth-sample-python}}</code></pre></div>
</div>
